:root {
    --desert-sand: #DDBDA3;
    --bright-gray: #E9EEEF;
    --blue-sapphire: #1F656E;
    --seashell: #FAF4EF;
    --teal: #138384;
    --dark-space-sparkle: #2B5D67;
    --weldon-blue: #829BA4;
    --brown-yellow: #C8956B;
    --deep-green: #0F696A;
    --japanese-indigo: #224A52;
    --metallic-seaweed: #277E89;
    --white: #fff;
    --error: #dd2d4a;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--bright-gray);
    background-color: var(--seashell);
}

h1 {
    font-size: calc(1.375rem + 1.5vw)
}

h3 {
    font-size: calc(1.3rem + .6vw)
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

li {
    list-style: none;
}

nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    background-color: var(--dark-space-sparkle);
}

.sticky {
    position: sticky;
    top: 0;
}

.navbar>.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between
}

nav a,
nav a:visited {
    text-decoration: none;
    color: unset;
}

nav a:hover {
    text-decoration: underline;
}

nav .logo a {
    text-decoration: none;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--bright-gray);
    border-radius: 9px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
}

main {
    display: flex;
}

.article {
    width: 75%;
    background-color: var(--dark-space-sparkle);
}

.sidebar {
    width: 25%;
    background-color: var(--brown-yellow);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    /* padding: 5.5em; */
}

.hero img {
    width: 300px;
    border: 10px var(--blue-sapphire) solid;
    padding: 15px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.hero h1 {
    color: var(--deep-green);
    margin: .5em 0;
    text-transform: capitalize;
}

.hero h3 {
    color: var(--teal);
}

.main-content {
    height: 100%;
    padding: 3em 0;
}

.main-content h1 {
    margin-bottom: .3em;
    text-transform: capitalize;
}

.about,
.project {
    /* padding-top: 5.5em; */
    margin-bottom: 1em;
}

.about,
.project,
.skill {
    scroll-margin-top: 5.5em;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.card {
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    background-color: var(--desert-sand);
    overflow: hidden;
    color: var(--blue-sapphire);
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.card .image img {
    width: 100%;
}

.card .content {
    padding: .7em .7em .7em .7em;
    box-sizing: unset !important;
    max-height: 81px;
}

.card .content p {
    padding-top: .3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    box-shadow: 10px 10px 30px rgba(8, 25, 28, 0.3);
}

.skill .skill-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 30px;
    align-items: center;
}

.skill-card .image img {
    width: 12.5em;
}

.social {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.social ul {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.social a {
    color: var(--seashell);
    text-decoration: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.social a:hover {
    background-color: var(--dark-space-sparkle);
    padding: .3rem;
    box-shadow: 1px 1px 30px rgba(8, 25, 28, 0.3);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

footer {
    color: var(--metallic-seaweed);
    margin-bottom: 5em;
}

footer h1 {
    margin-top: 2rem;
}

footer label {
    color: var(--teal);
}

footer textarea {
    width: 100%;
    height: 120px;
    border: none;
    resize: none;
    padding: .6rem;
    font-family: 'Montserrat', sans-serif;
}

label {
    color: var(--ghost-white);
}

input {
    padding: .6rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 40px;
}

input::-webkit-input-placeholder,
input::-moz-input-placeholder,
input::-ms-input-placeholder,
input::-o-input-placeholder {
    font-family: 'Montserrat', sans-serif;
    color: var(--weldon-blue);
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-space-sparkle);
    font-size: 1em;
    padding: .6rem 2rem;
    color: var(--bright-gray);
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin-top: 1em;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.btn:hover {
    background-color: var(--japanese-indigo);
}

.error-name,
.error-email,
.error-message {
    background-color: var(--error);
    margin: .5em 0;
    display: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.error-name p,
.error-email p,
.error-message p {
    color: var(--white);
    padding: 1em .3em;
}

.error {
    display: block;
}

@media (max-width:768px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translatey(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translatey(-8px) rotate(-45deg);
    }

    .nav-links {
        display: flex;
        justify-content: flex-start;
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: var(--dark-space-sparkle);
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: .3s;
    }

    .nav-item {
        margin: 1em 0;
    }

    .nav-links.active {
        left: 0;
    }

    .hero {
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    .article {
        width: 100%;
    }

    .skill-card .image img {
        width: 6.25em;
    }

    .sidebar {
        width: 100%;
    }

    .social {
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .social ul {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem 0;
    }
}